.header {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 5px;
}

.libraryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: tomato;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 12vh;
    height: 18vh;
    background-color: lightcoral;
    margin: 5px;
    font-size: 10px;
    border-radius: 4px;
}

.author {
    font-size: 11px;
}
.title {
    font-size: 14px;
    font-weight: 600;
}
.pages {
    font-size: 8px;
}